body{
  background:#eff0f2;
}
.container {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  .profile {
    display: flex;
    .image {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
    .bell {
      margin-left: 277px;
    }
  }
  .balance {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 25px 0px;
    div.leftPane{
      display: flex;
      flex-direction: column;
      span:first-child{
        font-weight:700;
      }
      span:nth-child(2){
        color:#9b9b9b;
      }
    }
    span.amount {
      .rupee {
        font-weight: 700;
      }
      display: flex;
      align-items: center;
      font-size: 33px;
      font-weight: 700;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    color:#fff;
    div{
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      border-radius: 5px;
    }
    div:first-child{
      background-color: #5a9533;
    }
    div:nth-child(2){
      background-color: red;
    }
    div:nth-child(3){
      background-color: purple;
    }
    div:nth-child(4){
      color:#9b9b9b;
      background-color: white;
    }
  }
}

.listParent {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  margin-top: 19px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 16px 0px #9b9b9b70;
  .carImage {
    margin-top: 14px;
    width: 31px;
    height: 49px;
  }
  .timePeriod {
    margin-left: 19px;
  }
  .listName {
    display: flex;
    span:first-child {
      font-size: 18px;
      font-family: sans-serif;
      margin-left: 18px;
    }
    span:nth-child(2) {
      margin-left: 141px;
    }
  }
  .money {
    display: flex;
    span:first-child {
      font-size: 18px;
      font-family: sans-serif;
      flex: 1;
      margin-left: 19px;
    }
    span:nth-child(2) {
      margin-left: 136px;
    }
  }
}
.goalContainer{
    background: #f7f7f7;
    height: 100vh;
    border-top: 0.5px solid lightgray;
    border-radius: 37px;
    margin-top: 25px;
    padding-top: 15px;
    box-shadow: 0px 10px 31px 2px #0006;
  .goalList {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      span:first-child {
        font-size: 18px;
        font-family: sans-serif;
        flex: 1;
        margin-left: 19px;
      }
      span:nth-child(2) {
        margin-right: 20px;
      }
    }
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-right: 5%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25px;
}

input:checked + .slider {
  background-color: blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px Blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.btnWrapper {
  position: unset;
}